body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fef5e7;
}

h1 {
    font-size: 300%;
}

h6 {
    float: left;
}

p {
    font-size: x-large;
}

.navbar {
    background-color: #bb9a2c;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #f3cdff;
}