body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAE7DC;
}

h1 {
    font-size: 300%;
    color: #e85A4f;
    margin: 30px;
}

h6 {
    float: left;
}

.otayhteyttälinkki {
    margin-left: 1185px;
}

h4 {
    color: #e85A4f;
}

p {
    font-size: x-large;
}

.navbar {
    background-color: #cfbb9e;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #e98074;
}

.koirakuvat {
    margin-bottom: 10px;
}