body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAE7DC;
}

h1 {
    font-size: 300%;
    color: #e85A4f;
    margin: 50px;
}

p {
    font-size: larger;
    padding-right: 30px;
    padding-left: 30px;
}

h4 {
    color: #e85A4f;
    padding-left: 30px;
}

.navbar {
    background-color: #cfbb9e;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #e98074;
}

.kissakuvat {
    margin-bottom: 10px;
}

.pääkissakuva {
    margin-left: 30px;
}

@media (max-width:992px) {
    .pääkissakuva {
        padding-left: 0px;
    }
}