body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAE7DC;
}

.navbar {
    background-color: #cfbb9e;
}

h1 {
    font-size: 300%;
    float: right;
    color: #e85A4f;
}

h4 {
    color: #e85A4f;
}

p {
    font-size: 135%;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: 500px;
}

.btn {
    margin-top: 10px;
    background-color: #cfbb9e;
    border: #cfbb9e;
}

.btn:hover {
    background-color: #e98074;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #e98074;
}